<!-- views/assignmen/info.ejs assignment page -->  
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Assignment Dashboard</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<div class="row">
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>
						<p>
							<strong>id</strong>: <%= user.id %><br>
							<strong>username</strong>: <%= user.username %><br>
							<strong>password</strong>: <%= user.password %>
						</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

		<% //assignment info list here %>
		<div class="row">
			<div class="col-md-4">  
				<h4 ><strong>course</strong>             <%= assignment_data.course %>             </h4>		
				<h4 ><strong>type</strong>               <%= assignment_data.type %>               </h4>		
				<h4 ><strong>deadlineRubriks</strong>    <%= assignment_data.deadline_rubriks %>    </h4>		
				<h4 ><strong>deadlineEvaluation</strong> <%= assignment_data.deadline_eval %> </h4>		
				<h4 ><strong>created_at</strong>         <%= assignment_data.created_at %>         </h4>		
				<h4 ><strong>assignedTA</strong>         <%= assignment_data.assignedTA %>         </h4>		
			</div>

			<% //assignment features %>
			<div class="col-md-4">  
				<p>coming soon..</p>
				<a href="/courses/<%=CID%>/assignment/<%=assignment_data.id%>/submission/import" class="btn btn-md btn-info">import Submissions</a>
				<a href="#" class="btn btn-md btn-success">Edit</a>
				<form id="deletebutton" action="#" method="GET"> 
					<button class="btn btn-md btn-danger">Delete</button>
				</form>
			</div>
		</div>

		<%//TA info %>
		<div class="row">
			<% asisstant_data.forEach(function(data){ %>
				<div class="col-md-9">  
					<h4 ><strong>Name</strong>      <%= data.name %>     </h4>		
					<h4 ><strong>Username</strong>  <%= data.username %> </h4>		
					<h4 ><strong>Type</strong>      <%= data.type %>     </h4>		
					<h5 ><strong>Semeseter</strong> <%= data.semeseter %></h5>		
					<p ><strong> Year</strong>      <%= data.year %>     </p>		
					<p ><strong> Stream</strong>    <%= data.stream %>   </p>		
				</div>
			<% }) %>
			<p>coming soon..</p>
			<a href="/courses/<%=CID%>/assignment/<%=assignment_data.id%>/rubrics/add" class="btn btn-md btn-info">add Rubrics</a>
		</div>

		


	</div>
</body>
</html>