<!-- views/assignmen/info.ejs assignment page -->  
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Assignment Dashboard</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<div class="row">
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>
						<p>
							<strong>id</strong>: <%= user.id %><br>
							<strong>username</strong>: <%= user.username %><br>
							<strong>password</strong>: <%= user.password %>
						</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">

		<% //assignment info list here %>
		<div class="row">
			<div class="col-md-4">  
				<h4 ><strong>course</strong>             <%= assignment_data.course %>             </h4>		
				<h4 ><strong>type</strong>               <%= assignment_data.type %>               </h4>		
				<h4 ><strong>deadlineRubriks</strong>    <%= assignment_data.deadline_rubriks %>    </h4>		
				<h4 ><strong>deadlineEvaluation</strong> <%= assignment_data.deadline_eval %> </h4>		
				<h4 ><strong>created_at</strong>         <%= assignment_data.created_at %>         </h4>				
				<h4 ><strong>Usernames of Students assigned:</strong>  									               </h4>				

				<% students.forEach(function(eachStudent){ %>
			        <li> <%= eachStudent.username %></li>
			    <% }) %>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">  

			</div>
		</div>
		
			<h4>TODO</h4>
				<h3>1. show students assigned -> done (assign students to TAs, to be handled by prof)</h3>
				<h3>2. show students submission assigned </h3>
				<h3>3. show rubricks -> done </h3>
				<h3>4. give marks </h3>
			<p>coming soon..</p>
			<a href="/courses/<%=CID%>/assignment/<%=assignment_data.id%>/rubrics/view" class="btn btn-md btn-info">View Rubrics</a>
			<a href="/courses/<%=CID%>/assignment/<%=assignment_data.id%>/rubrics/add" class="btn btn-md btn-info">add Rubrics</a>

			
		</div>

	</div>

	<%//submission info %>
	<div class="container">

		<%
			var v = "http://localhost:3000";
			var allPaths = {};
			submission_data.forEach(function(sdata){
               var path = sdata.a_path.split( '/' );
               pos = path.indexOf("public");
               newPath="";
               console.log(path+" "+pos);
               for(var i=pos+1;i<path.length;i++){
			 	  newPath = newPath +"/"+ path[i]
			   }
			   allPaths[sdata.id]= newPath;
			})
			
		%>

	  <div class="container">
        <div class="row">
           <div class="col-md-2">  <strong> Submission ID </strong>  </div>
           <div class="col-md-2">  <strong> Student ID </strong> </div>
           <div class="col-md-2">  <strong> Student Name </strong> </div>
           <div class="col-md-2">  <strong> Assignment Name </strong> </div>
           <div class="col-md-2">  <strong> View Submission </strong> </div>
           <div class="col-md-2">  <strong> Marks </strong> </div>
        </div>

        <% submission_data.forEach(function(sdata){ %>
            <div class="row">
	           <div class="col-md-2"> <%= sdata.id %> </div>
	           <div class="col-md-2"> <%= sdata.Sid %>  </div>
	           <div class="col-md-2"> <%= sdata.s_name %>  </div>
	           <div class="col-md-2"> <%= sdata.a_name %>  </div>
	           <div class="col-md-2"> <a href="<%= allPaths[sdata.id] %>" class="btn btn-md btn-info">  <%= sdata.a_name %> </a>  </div>
	           <div class="col-md-2"> 5  </div>
	        </div>
            <% }) %>
       </div>

</body>
</html>