<%include ../partials/header.ejs%>
<%	if(error && error.length>0){ %>
	<div class="container">
		<div class="alert alert-danger" role="alert">
			<h4><%= error %></h4>
		</div>
	</div>
<%	} %>
<% if(success && success.length>0){ %>	
	<div class="container">
		<div class="alert alert-success" role="alert">
			<h4><%= success %></h4>
		</div>
	</div>
<%} %> 
<% if(warning && warning.length>0){ %>	
	<div class="container">
		<div class="alert alert-warning" role="alert">
			<h4><%= warning %></h4>
		</div>
	</div>
<%} %> 


<div class="container">
	<% if(userDetails.userType === "Professor"){ %>
		<div class="jumbotron" style="text-align: center">
			<h1 class="display-3">Course Database</h1>
			<br>
			<a href="/course/new"><button  class="btn btn-lg  btn-primary">Add Course</button></a>
		</div>
	<% } %>
</div>
<%// ALL DISPLAY %>
<div class="row">
	<%emp_data.forEach(function(data){ %>
			<div class="col md-3 sm-6 ">   
				<div id="card-des" class="card" style="width: 15rem;">
					<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="course"> 
					<div class="card-body">  
							<h4 class="card-text"> <%= data.name %></h4>		
							<h4 class="card-text"> <%= data.courseCode %></h4>		
						<a href="/course/<%=data._id%>"><button class="btn btn-md btn-primary">info</button></a>	
					</div>
				</div>
			</div>
			<br>
	<%});%>
	<br>
</div>


<%// PROFESSOR %>
<% if(userDetails.userType === "Professor" ){ %>
<div class="row">
	<%emp_data.forEach(function(data){ %>
	<% if(userDetails.courseList.includes(data._id) ){ %>
			<div class="col md-3 sm-6 ">   
				<div id="card-des" class="card" style="width: 15rem;">
					<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="course"> 
					<div class="card-body">  
							<h4 class="card-text"> <%= data.name %></h4>		
							<h4 class="card-text"> <%= data.courseCode %></h4>		
						<a href="/course/<%=data._id%>"><button class="btn btn-md btn-primary">info</button></a>	
					</div>
				</div>
			</div>
			<br>
		<% } %>
	<%});%>
	<br>
</div>
<% } %>

<%// ASSIStant %>
<%// ASSIStant and course joined  --listing only one course%>
<% if(userDetails.userType === "Assistant" && userDetails.course ){ %>
	<div class="row">
		<%emp_data.forEach(function(data){ %>
			<% if(userDetails.course && userDetails.course.id === data._id  ){ %>
				<div class="col md-3 sm-6 ">   
					<div id="card-des" class="card" style="width: 15rem;">
						<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="course"> 
						<div class="card-body">  
								<h4 class="card-text"> <%= data.name %></h4>		
								<h4 class="card-text"> <%= data.courseCode %></h4>		
							<a href="/course/<%=data._id%>"><button class="btn btn-md btn-primary">info</button></a>	
						</div>
					</div>
				</div>
			<% } %>
		<%});%>
		<br>
	</div>
<% } %>
<%// ASSISTANT and course NOT joined ---listing all courses%>
<% if(userDetails.userType === "Assistant" && (userDetails.course == null || userDetails.course == undefined|| userDetails.course === "") ){ %>
	<div class="row">
		<%emp_data.forEach(function(data){ %>
			<div class="col md-3 sm-6 ">   
				<div id="card-des" class="card" style="width: 15rem;">
					<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="course"> 
					<div class="card-body">  
							<h4 class="card-text"> <%= data.name %></h4>		
						<a href="/course/<%=data._id%>"><button class="btn btn-md btn-success">Join</button></a>	
					</div>
				</div>
			</div>
		<%});%>
		<br>
	</div>
<% } %>

<%// Student -- joined courses%>
<% if(userDetails.userType === "Student"){ %>
	<div class="row">
		<%emp_data.forEach(function(data){ %>
			<% if(userDetails.course.find((course) => course.courseId === data._id) != undefined){ %>
				<div class="col md-3 sm-6 ">   
					<div id="card-des" class="card" style="width: 15rem;">
						<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="course"> 
						<div class="card-body">  
								<h4 class="card-text"> <%= data.name %></h4>		
							<a href="/course/<%=data._id%>"><button class="btn btn-md btn-success">Info</button></a>	
						</div>
					</div>
				</div>
			<%};%>
		<%});%>
		<br>
	</div>
<% } %>
<%// Student -- ALL courses%>
<% if(userDetails.userType === "Student"){ %>
	<div class="row">
		<%emp_data.forEach(function(data){ %>
			<% if(userDetails.course.find((course) => course.courseId === data._id) == undefined){ %>
				<div class="col md-3 sm-6 ">   
					<div id="card-des" class="card" style="width: 15rem;">
						<img  class="card-img-top" src= "<%=data.image %> " width="250px" height="220px" alt="course"> 
						<div class="card-body">  
								<h4 class="card-text"> <%= data.name %></h4>		
							<a href="/course/<%=data._id%>"><button class="btn btn-md btn-success">Join</button></a>	
						</div>
					</div>
				</div>
			<%};%>
		<%});%>
		<br>
	</div>
<% } %>

</div>
<%include ../partials/footer.ejs%>